h2::before {
  content: "- ";
}
h2::after {
  content: " -";
}
.base {
  width: 90%;
}
ul[title*="string"] {
  color: red;
  line-height: 1.2;
}
li {
  word-spacing: 2em;
  letter-spacing: 0.5em;
}
li[title~="child"] {
  color: blue;
}
[for] {
  color: brown;
}
[name^="opin"] {
  background: #aaa;
}
[for$="male"] {
  color: blue;
}
li:hover {
  background: #f88;
}
[title*="tit"]:hover {
  background: #88f;
}
input[list^="brows"]:focus {
  background: #8f8;
  place-content: "";
}
label:nth-child(n) {
  font-weight: bold;
}
label:nth-of-type(3) {
  font-weight: 100;
}
form[action] :nth-child(8) {
  font-weight: 100;
}
#male:checked+label {
  background: #aaa;
}
input:disabled, button:disabled {
  color: #ccc;
}
header :not(h1) {
  color: green;
}
ul *:not(last-child) {
  margin-top: 10px;
}
p[lang="en"] {
  font-family: 'Oswald', sans-serif;
  width: 700px;
  letter-spacing: 0.2em;
  line-height: 27px;
}
span {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: bold;
}
h2[title] {
  width: 600px; height: 60px;
  text-align: center; line-height: 60px;
  border: #88f solid 2px;
}
img {
  height: 60px;
  vertical-align: top;
}
